#myAnchorPane{
    -fx-background-color: #13305e;
}

.yellowText{
    -fx-text-fill: #ffd700;
}

.yellowTextFields{
    -fx-background-color: #3f3f70;
    -fx-text-fill: #9c8403;
    -fx-prompt-text-fill: #9c8403;
}

.buttons{
    -fx-text-fill: #FFD700;
    -fx-background-color: #3f3f70;
    -fx-background-radius: 12, 12, 0, 0;
}

.centered{
    -fx-alignment: center;
}
#passInfLabel{
    -fx-text-fill: #ffd700;
}
